.container {
  width: 250px;
  background-color: rgb(223, 218, 218);
  box-shadow: 0px 0px 10px 0px #5d5c5c;
  padding: 10px;
  margin: 100px auto;
  position: absolute;
  top: calc(50% - 100px);
  left: 50%;
  transform: translate(-50%, -50%);
}
.steps,
.count {
  display: flex;
  justify-content: space-between;
}
.steps {
  margin-bottom: 20px;
}
button {
  border: none;
  width: 50px;
  height: 30px;
  background-color: rgb(25, 185, 105);
  color: white;
  cursor: pointer;
  font-size: 1.3rem;
  transition: all.3s;
}
span {
  color: #333;
  font-size: 1.2rem;
}
button:hover {
  background-color: #333;
}
p {
  text-align: center;
  padding: 2px 5px;
  background-color: rgb(25, 185, 105);
  color: rgb(231, 227, 227);
}
